<div class="container-fluid">
  <script type="text/ng-template" id="modalLights.html">
      <div class="modal-header" style="margin:0 auto; text-align:center;">
          <h3 class="modal-title" style="margin:0 auto;">Dimmer {{tag}} Individual</h3>
      </div>
        <h4 style="margin-left:5%;" ng-if="dimmer.indexOf('Desligada') == false">Valor de dimmer atual:<span style="color:red;"> {{dimmer}}</span></h4>
        <h4 style="margin-left:5%;" ng-if="dimmer.indexOf('Desligada')">Valor de dimmer atual: {{dimmer}}%</h4>
        <div id="slider" style="width:80%; text-align:center; margin:0 auto;  margin-bottom: 15px;">
          <slider ng-model="lightSlider.value" ticks="lightSlider.ticks" ticks-labels="lightSlider.labels" min="lightSlider.min" step="lightSlider.step" max="lightSlider.max"></slider>
        </div>
      <div class="modal-footer">
          <button class="btn btn-danger" type="button" ng-click="off()">Desligar</button>
          <button class="btn btn-success" type="button" ng-click="DimmerLight()">Atuar</button>
          <button class="btn btn-secondary" type="button" ng-click="cancel()">Fechar</button>
      </div>
  </script>
  <div class="row" ng-controller="gmapsCtrl" style="margin-left:-45px; margin-right:-45px;">
    <div id="map_canvas"></div>
  </div>
  <br>
  <div class="row" ng-controller="powerGraphCtrl">
    <h2 style="margin: 0 auto; text-align: center;"><span class="fa fa-bolt"></span> Potência Total:</h2>
  	<div id="powerGraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>
